* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-image: url("../assets/backgroundwestern.jpg");
  background-position: 47% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

div.playsound{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

img{
  max-width: 70px;
  max-height: 70px;
}

div.container{
  display: flex;
  justify-content: space-evenly;
}

div.side{
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
  min-height: 490px;
}

h1{
  font-size: 40px;
  font-family: 'Rye', cursive;
  font-weight: 100;
  margin: 10px;
  text-align: center;
}

h2{
  font-family: 'Rye', cursive;
  font-size: 30px;
  font-weight: 100;
  margin: 10px;
  text-align: center;
}

p{
  font-family: 'Rye', cursive;
  font-size: 20px;
  font-weight: 100;
  margin: 10px;
  text-align: center;
}

p.instructions{
  margin: 20px 0;
}

div.middle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
}

div.buttons{
  display: flex;
  align-items: center;
}

div.instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  margin: 10px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Rye', cursive;
  border-radius: 20%;
  border: black 2px solid;
  font-size: 20px;
  font-weight: 100;
  padding: 0px;
}

div.start {
  width: 600px;
  height: 400px;
  display: flex;
  padding: 40px 0;
  justify-content: center;
  margin-top: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../assets/paper.png");
}

div.grid {
  width: 500px;
  height: 400px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

div.grid-item {
  width: 70px;
  height: 70px;
  border: 4px solid black;
  border-radius: 50%;
}

.red {
  background-image: url("../assets/shotgun-shell.png");
  background-size: cover;
  background-size: 75px;
  background-position: 50% 57%;
  animation: shootRight 0.1s;
}

.yellow {
  background-image: url("../assets/shotgun-front.png");
  background-size: cover;
  animation: shootLeft 0.1s;
}

.flip {
  animation: flip 0.5s
}

  @keyframes shootLeft {
    from {
      transform: translate3d(-300%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes shootRight {
    from {
      transform: translate3d(300%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes flip {
    from {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  
    40% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  
    50% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    80% {
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    to {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }